@page "/Estudiante/Index"
@using PrimerProyecto.Models
@using PrimerProyecto.Services

@inject EstudianteService estudiantesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="shadow-lg">
        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Listado de Estudiantes</strong></h3>
            <div class="text-end">
                <button type="button" class="btn btn-primary" @onclick="PantallaCrear"> Crear</button>
            </div>
        </div>
        @*Body*@
        <div class="card-body">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>EstudianteId</th>
                        <th>Nombre</th>
                        <th>Matr&iacute;cula</th>
                        <th>Carrera</th>
                        <th>Observar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var estudiante in ListaEstudiante) {
                        <tr>
                            <td>@estudiante.EstudianteId</td>
                            <td>@estudiante.nombre</td>
                            <td>@estudiante.matricula</td>
                            <td>@estudiante.carrera</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p><strong>Total de Estudiantes: </strong>@ListaEstudiante.Count()</p>
        </div>
    </div>
</div>


@code {
    public List<Estudiantes> ListaEstudiante { get; set; } = new List<Estudiantes>();

    protected override async Task OnInitializedAsync() {
        ListaEstudiante = await estudiantesService.Listar(e => e.EstudianteId > 0);
    }

    public void PantallaCrear() {
        navigationManager.NavigateTo("/Estudiante/Create");
    }
}